* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}

                  /****************   280w   ******************/

/**********   HEADER // NAVIGATION   **********/
header {
    height: 6em;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.menu {
    display: flex;
    position: fixed;
    z-index: 999;
    height: 6em;
    background-color: #fff;
}
.menu-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 1em 0 1em;
}
.logo-img {
    height: 3em;
}
.menu-icon {
    font-size: 1.25em;
    color: #4c5053;
    line-height: 50px;
}
nav {
    position: absolute;
    background-color: #fff;
    top: 4.5em;
    left:0;
    width: 100%;
}
nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
nav ul li {
    padding: 0 1em;
}
nav ul li a {
    display: inline-block;
    padding: .75em;
    color: #4c5053;
    text-decoration: none;
    letter-spacing: 0.05em;
}
nav ul li a:hover, nav ul li a:focus {
    color: #5e6d74;
}
#checkbox {
    display: none;
}
#checkbox:checked ~ nav ul {
    max-height: 200px;
    padding: 15px 0;
    transition: all 0.5s;
}
/**********   HEADER // NAVIGATION   **********/




/*****************   BANNER   *****************/
.banner-container {
    width: 100%;
    height: auto;
    padding-top: 5.9em;
}
.banner {
    background-image: url('images/canoe.jpg');
    background-size: 220%;
    background-repeat: no-repeat;
    background-position: 60% 25%;
    width: 100%;
}
h1{
    font-size: 1.5em;
    text-align: left;
    color: #fff;
    padding: 2em 1em;
    line-height: 1.4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.button-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6.5em;
}
.button {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    height: 3em;
    padding: 1em;
    font-size: 1em;
    font-weight: 700;
    color: #4c5053;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    /*display: inline-block;*/
}
/*****************   BANNER   *****************/




/****************   SERVICES   ****************/
.services-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
}
.services {
    width: 80%;
}
h2 {
    width: 100%;
    padding: 2em 0 0 0;
    font-weight: 700;
    font-size: 1.3em;
    color: #4c5053;
    text-align: center;
}
.services ul {
    list-style-position: inside;
    text-indent: -1.5em; 
    margin-left: 1.5em;
    padding-top: 1.5em;
}
.services ul li {
    padding-bottom: 1.2em;
    line-height: 1.5em;
}
/****************   SERVICES   ****************/




/****************   REVIEWS   ****************/
.services-slider-container {
    width: 100%;
    height: 16em;
    background-image: url('images/sunset.jpg');
    /*background-color: cornflowerblue;*/
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 70% 52%;
    /*padding: 4em 0 2em 0;*/
}
.services-carousel {
    width: 100%;
    height: 16em;
}
.carousel-cell {
    width: 100%;
    height: 16em;
    display: flex;
    align-items: center;
    /*counter-increment: carousel-cell;*/
}
.carousel-cell:before{
    /*display: block;*/
    /*text-align: center;*/
    /*content: counter(carousel-cell);*/
    /*line-height: 400px;*/
    /*font-size: 80px;*/
    /*color: white;*/
}
.flickity-page-dots {
    bottom: .5em;
  }
.flickity-page-dots .dot {
    width: 10px;
    height: 10px;
    opacity: 1;
    background: #e8e3dc71;
    border-radius: 100%;
  }
.flickity-page-dots .dot.is-selected {
    background: #e8e3dc;
}
.services-p {
    /*padding-bottom: 1em;*/
    color: white;
    text-align: center;
    margin: 0 1em;
    line-height: 1.5em;
}
/**************   END REVIEWS   **************/


/*************   ABOUT SECTION   *************/
.about-container {
    width: 100%;
    height: auto;
    /*padding: 4em 0 2em 0;*/
}

  /**********   END ABOUT SECTION   **********/