* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}
html {
    scroll-behavior: smooth;
}

                        /****************   280w   ******************/

/**********   HEADER // NAVIGATION   **********/
header {
    height: 6em;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.menu {
    display: flex;
    position: fixed;
    z-index: 999;
    height: 6em;
    background-color: #fff;
}
.menu-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 1em;
}
.logo-img {
    height: 3em;
}
.menu-icon {
    font-size: 1.25em;
    color: #4c5053;
    line-height: 50px;
    cursor: pointer;
}
nav {
    position: absolute;
    background-color: #fff;
    top: 6em;
    left:0;
    width: 100%;
}
nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
nav ul li {
    padding: 0 1em;
}
nav ul li a {
    display: inline-block;
    padding: .75em;
    color: #4c5053;
    text-decoration: none;
    letter-spacing: 0.05em;
}
nav ul li a:hover, nav ul li a:focus {
    color: #5e6d74;
}
#checkbox {
    display: none;
}
#checkbox:checked ~ nav ul {
    max-height: 250px;
    padding: 15px 0;
    transition: all 0.5s;
}
.no-hamburger {
    display: none;
}
        /**********   ANCHOR POINT   **********/
        a.anchor {
            display: block;
            position: relative;
            top: -95px;
            visibility: hidden;
        }
        /**********   ANCHOR POINT   **********/
/**********   HEADER // NAVIGATION   **********/

/*****************   BANNER   *****************/
.banner-container {
    width: 100%;
    height: auto;
    padding-top: 5.9em;
}
.banner {
    background-image: url('images/canoe.jpg');
    background-size: 220%;
    background-repeat: no-repeat;
    background-position: 60% 25%;
    width: 100%;
    padding: 3em 0;
    /*background-image: url('images/banner.jpg');
    background-size: 230%;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    width: 100%;
    padding: 3em 0;*/
    }
h1{
    font-size: 1.8em;
    text-align: left;
    color: #fff;
    padding: 0 1em 1.5em 1em;
    line-height: 1.4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.button-container{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.banner-button {
    height: 50px;
    padding: 16px 24px;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
.banner-button:hover {
    background-color: white;
    border: 1px solid white;
    color: #4c5053;
}
/*****************  END BANNER   *****************/

/****************   SERVICES   ****************/
.services-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3em;
    background-color: #f3f3f3;
    padding-top: 2em;
}
.services {
    width: 80%;
}
h2 {
    width: 100%;
    font-weight: 700;
    font-size: 1.3em;
    color: #4c5053;
    text-align: center;
}
.services ul {
    width: auto;
    list-style-position: inside;
    text-indent: -1.5em; 
    margin-left: 1.5em;
    padding-top: 1.5em;
}
.services ul li {
    padding-bottom: 1.2em;
    line-height: 1.5em;
    color: #4c5053;
}
.services ul li:last-child {
    padding-bottom: 0;
    line-height: 1.5em;
}
/****************   SERVICES   ****************/

/****************   REVIEWS   ****************/
.reviews-slider-container {
    width: 100%;
    height: auto;
    background-image: url('images/sunset.jpg');
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: 50% 40%;
}
.reviews-carousel {
    width: 100%;
    height: auto;
}
.reviews-carousel-cell {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flickity-page-dots {
    bottom: .5em;
  }
.flickity-page-dots .dot {
    width: 10px;
    height: 10px;
    opacity: 1;
    background: #e8e3dc8e;
    border-radius: 100%;
  }
.flickity-page-dots .dot.is-selected {
    background: #e8e3dc;
}
.reviews-p {
    color: white;
    text-align: center;
    /*margin: 0 1em;*/
    line-height: 1.5em;
    width: 90%;
    padding: 3em 0 5em 0;
}
/**************   END REVIEWS   **************/

/*************   ABOUT SECTION   *************/
.about-container {
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
}
.about-info h2 {
    padding-top: 2em;
}
.about-info h4 {
    text-align: center;
    color: #4c5053;
}
.about-info p {
    color: #4c5053;
    line-height: 1.5em;
    margin: 1.5em 1.5em 3em 1.5em;
}
.about-slider-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.about-carousel {
    width: 100%;
    height: 16em;
}
.about-carousel-cell {
    display: flex;
    justify-content: center;
    min-width: 100%;
    height: 16em;
}
.about-img {
    width: auto;
    height: 16em;
}
.flickity-page-dots {
    bottom: .5em;
  }
.flickity-page-dots .dot {
    width: 10px;
    height: 10px;
    opacity: 1;
    background: #e8e3dc8e;
    border-radius: 100%;
  }
.flickity-page-dots .dot.is-selected {
    background: #e8e3dc;
}
/**********   END ABOUT SECTION   **********/

/**********   GET IN TOUCH SECTION   **********/
.touch-container {
    width: 100%;
    height: auto;
    padding-bottom: 2em;
}
.touch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1.5em 0 0 0;
    color: #4c5053;
}
.location, .hours {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.5em;
}
.touch h2 {
    margin: 1em 0 1.5em 0;
}
th {
    text-align: center;
}
.location tr {
    text-align: center;
}
.touch-line-address,
.touch-line-tuesday,
.touch-line-saturday {
    padding-top: .6em;
}
.touch-line-town {
    line-height: 1.5em;
}
.touch-line-time {
    padding-left: 30px;
}
.request {
    font-size: .85em;
}
.touch-button-container {
    width: 100%;
}
.call-button-container, .email-button-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
a.touch-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #4c5053;
    border-radius: 5px;
    height: 50px;
    width: 175px;
    font-size: 12px;
    font-weight: 700;
    color: #4c5053;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}
a.touch-button:hover {
    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
}
.button-info {
    font-size: 16px;
}
/**********   END GET IN TOUCH SECTION   **********/

/**********   MAP SECTION   **********/
.map-container {
    width: 100%;
    height: 16em;
    background-image: url('images/map.jpg');
    background-size: 220%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/**********   END MAP SECTION   **********/

/**********   FOOTER SECTION   **********/
footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #4c5053;
    padding: 1.5em 0;
}
.footer {
    width: 100%;
    font-size: 10px;
    color: #f3f3f3;;
    font-weight: 300;
    text-align: center;
}
.email {
    margin: 1em 0;
}
/**********   END FOOTER SECTION   **********/

                            /**********   SCREEN >320px   **********/
@media only screen and (min-width: 320px) {
    /**********   NAVIGATION   **********/
    .menu-wrap {
        margin: 0 1.5em;
    }
    .logo-img {
        height: 3.2em;
    }
    .menu-icon {
        font-size: 1.4em;
    }
    /**********   END NAVIGATION   **********/

    /**********   BANNER   **********/
    .banner {
        background-position: 70% 40%;
        /*background-position: 80% 70%;*/
    }
    h1{
        font-size: 2.1em;
    }
    /**********   END BANNER   **********/

    /**************    REVIEWS   **************/
    .reviews-slider-container {
        width: 100%;
        background-position: 50% 50%;
    }
    .reviews-p {
        padding: 3em 0 3em 0;
    }
    /**************   END REVIEWS   **************/

    /**********   MAP   **********/
    .map-container {
        background-position: 55% 60%;
    }
    /**********   END MAP   **********/
}
/**********   END SCREEN >320px   **********/

                            /**********   SCREEN >360px   **********/
@media only screen and (min-width: 360px) {

    /**********   GENERAL   **********/
    h2 {
        font-size: 1.5em;
    }
    /**********   END GENERAL   **********/

    /**********   NAVIGATION   **********/
    .menu-wrap {
        margin: 0 1.8em;
    }
    .logo-img {
        height: 3.4em;
    }
    .menu-icon {
        font-size: 1.4em;
    }
    /**********   END NAVIGATION   **********/

    /**********   BANNER   **********/
    .banner {
        background-position: 65% 40%;
        /*background-position: 50% 65%;*/
    }
    h1{
        font-size: 37px;
        padding: 0 1.2em 1.5em 1.2em;
        line-height: 1.5;
    }
    /**********   END BANNER   **********/

    /**********   SERVICES   **********/
    .services ul li {
        font-size: 1.1em;
    }
    /**********   END SERVICES   **********/

    /**********   REVIEWS   **********/
    .reviews-p {
        line-height: 1.6em;
        font-size: 17px;
    }
    /**********   END REVIEWS   **********/

    /**********   ABOUT   **********/
    .about-info p {
        color: #4c5053;
        line-height: 1.6em;
        margin: 1.5em 1.5em 3em 1.8em;
        font-size: 17px;
    }
    .about-img {
        width: auto;
        height: 18em;
    }
    /**********   END ABOUT   **********/

    /**********   MAP   **********/
    .map-container {
        background-position: 55% 64%;
    }
    /**********   END MAP   **********/
}
/**********   END SCREEN >360px   **********/

                            /**********   SCREEN >375px   **********/
@media only screen and (min-width: 375px) {
    /**********   NAVIGATION   **********/
    .logo-img {
        height: 3.5em;
    }
    /**********   END NAVIGATION   **********/

    /**********   BANNER   **********/
    .banner {
        background-position: 50% 40%;
        /*background-position: 48% 75%;*/
    }
    h1 {
        font-size: 40px;
    }
    /**********   END BANNER   **********/

    /**********   REVIEWS   **********/
    .reviews-slider-container {
        background-position: 50% 52%;
    }
    .reviews-p {
        width: 85%;
    }
    /**********   END REVIeWS   **********/

    /**********   GET IN TOUCH   **********/
    a.call-button, .menu-icon, .call-info {
        font-size: 16px;
    }
    /**********   END GET IN TOUCH   **********/

    /**********   MAP   **********/
    .map-container {
        background-position: 55% 68%;
    }
    /**********   END MAP   **********/
}
/**********   END SCREEN >375px   **********/

                            /**********   SCREEN >400px   **********/
@media only screen and (min-width: 400px) {
    /**********   NAVIGATION   **********/
    .menu-wrap {
        margin: 0 2.5em;
    }
    .logo-img {
        height: 3.4em;
    }
    .menu-icon {
        font-size: 1.6em;
    }
    /**********   END NAVIGATION   **********/

    /**********    BANNER   **********/ 
    .banner {
        background-size: 200%;
        background-position: 50% 50%;
    }
    h1{
        /*font-size: 2em;*/
        text-align: left;
        color: #fff;

        line-height: 1.5;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    /**********   END BANNER   **********/

    /**********   REVIEWS   **********/
    .reviews-slider-container {
        background-position: 45% 55%;
    }
    /**********   END REVIEWS   **********/

    /**********   ABOUT   **********/
    .about-img {
        height: 19.5em;
    }
    /**********   END ABOUT   **********/
}
/**********   END SCREEN >400px   **********/

                            /**********   SCREEN >500px   **********/
@media only screen and (min-width: 500px) {
    /**********   NAVIGATION   **********/
        header {
            height: 8em;
        }
        .menu {
            height: 8em;
        }
        .menu-wrap {
            margin: 0 3em;
        }
        .logo-img {
            height: 5em;
        }
        .menu-icon {
            font-size: 1.7em;
        }
        nav {
            top: 8em;
        }
        nav ul li {
            padding: 0 2.7em;
        }
        nav ul li a {
            padding: .75 0em;
            font-size: 20px;
        }
        #checkbox:checked ~ nav ul {
            max-height: 300px;
        }
    /**********   END NAVIGATION   **********/

    /*****************   BANNER   *****************/
        .banner-container {
            padding-top: 8em;
        }
        .banner {
            background-size: 170%;
            background-position: 60% 50%;
            /*padding: 3em 0;*/
            /*background-position: 60% 65%;*/
        }
        h1{
            width: 90%;
            /*font-size: 35px;*/
        }
        .button-container{
            align-content: center;
            padding-bottom: 1em;
        }
        .banner-button {
            height: auto;
            padding: 16px 24px;
            font-size: 20px;
        }
    /*****************   BANNER   *****************/

    /**********   REVIEWS   **********/
        .reviews-slider-container {
            background-size: 250%;
            background-position: 70% 56%;
        }
    /**********   END REVIEWS   **********/

    /**********   ABOUT   **********/
        .about-slider-container {
            padding-bottom: 4em;
        }
    /**********   END ABOUT   **********/

    /**********   GET IN TOUCH   **********/
    .touch h2 {
        margin-top: 1em;
    }
    /**********   END GET IN TOUCH   **********/

    /**********   MAP   **********/
        .map-container {
            background-size: 170%;
            background-position: 52% 65%;
        }
    /**********   END MAP   **********/
}
/**********   END SCREEN >500px   **********/

                            /**********   SCREEN >600px   **********/
@media only screen and (min-width: 600px) {
    /**********   BANNER   **********/
        .banner {
            background-size: 170%;
            background-position: 60% 50%;
            /*background-position: 60% 63%;*/
        }    
        h1{
            width: 90%;
            font-size: 55px;
        }
    /**********   END BANNER   **********/

    /**********   REVIEWS   **********/
        .reviews-slider-container {
            background-position: 58% 59%;
        }
        .reviews-p {
            font-size: 1.2em;
        }
    /**********   END REVIEWS   **********/

    /**********   ABOUT   **********/
        .about-info h2 {
            padding-top: 0;
            text-align: left;
        }
        .about-info h4 {
            width: auto;
            text-align: left;
            color: #4c5053;
        }
        .about-info p {
            margin: 0;
            padding: 1.5em 0 0 0;
        }
        .about-slider-container {
            display: block;
            width: 100%;
            max-width: 1000px;
            height: auto;
            float: left;
            padding: 3em 2em;
            background-color: #f3f3f3;
        }
        .about-carousel {
            width: 50%;
            height: auto;
            min-height: 16em;
            float: left;
            padding-right: 1em;
        }
        .about-carousel-cell {
            display: flex;
            justify-content: center;
            width: auto;
            height: 16em;
        }
        .about-img {
            width: auto;
            height: 16em;
        }
    /**********   END ABOUT   **********/

    /**********   GET IN TOUCH SECTION   **********/
        .location, .hours {
            width: 45%;
        }
        .touch-button-container {
            display: flex;
            justify-content: center;
        }
        .call-button-container, .email-button-container {
            width: 40%;
            height: auto;
            display: flex;
            align-items: center;
        }
    /**********   END GET IN TOUCH SECTION   **********/

    /**********   MAP SECTION   **********/
        .map-container {
            background-size: 160%;
            background-position: 52% 68%;
            }
    /**********   END MAP SECTION   **********/
}
/**********   END SCREEN >600px   **********/

                            /**********   SCREEN >700px   **********/
@media only screen and (min-width: 700px) {
    /*****************   BANNER   *****************/
        .banner {
            background-size: 120%;
            background-position: 60% 70%;
            /*background-size: 120%;
            background-position: 70% 70%;*/
        }
        h1 {
            font-size: 60px;
            width: 95%;
        }
    /*****************   BANNER   *****************/

    /**********   SERVICES   **********/
        .services {
            display: flex;
            justify-content: center;
        }
    /**********   END SERVICES   **********/

    /**********   REVIEWS   **********/
        .reviews-slider-container {
            background-position: 58% 62%;
        }
        .reviews-p {
            width: 75%;
        }
    /**********   END REVIEWS   **********/

    /**********   MAP   **********/
        .map-container {
            background-size: 140%;
            background-position: 52% 70%;
            }
    /**********   END MAP   **********/
}
/**********   END SCREEN >700px   **********/

                            /**********   SCREEN >800px   **********/
@media only screen and (min-width: 800px) {
    /**********   BANNER   **********/
        h1{
            /*width: 95%;*/
            /*font-size: 50px;*/
        }
        a.banner-button {
            font-size: 1.5em;
        }
    /**********   END BANNER   **********/

    /**********   SERVICES   **********/
        h2 {
            font-size: 1.8em;
        }
        .services {
            width: 100%;
        }
        .services ul {
            width: 100%;
            margin: 0 1em;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .services ul li {
            font-size: 1.2em;
            text-indent: 0;
            width: 20%;
            list-style-type: none;
            text-align: center;
        }
        .divider {
            border-right: 1px solid #4c50533a;;
        }
    /**********   END SERVICES   **********/

    /**********   REVIEWS   **********/
        .flickity-page-dots {
            bottom: .8em;
        }
        .flickity-page-dots .dot {
            width: 12px;
            height: 12px;
        }
        .reviews-p {
            font-size: 1.2em;
            line-height: 1.8em;
        }
    /**********   END REVIEWS   **********/

    /**********   ABOUT   **********/
        .about-info h4 {
            font-size: 1.2em;
        }
        .about-info p {
            font-size: 1.2em;
            line-height: 1.6em;
        }
        .about-carousel-cell {
            height: 20em;
        }
        .about-img {
            height: 20em;
        }
    /**********   END ABOUT   **********/

    /**********   GET IN TOUCH SECTION   **********/
        .location, .hours {
            width: 40%;
        }
        .location th, .hours th {
            font-size: 1em;
        }
        .location, .hours {
            font-size: 1.2em;
        }
        a.touch-button {
            height: 60px;
            width: 200px;
            font-size: 12px;
        }
        .button-info {
            font-size: 1em;
        }
        .request {
            font-size: .8em;
        }
    /**********   END GET IN TOUCH SECTION   **********/

    /**********   MAP   **********/
        .map-container {
            height: 20em;
            background-size: 130%;
            background-position: 52% 65%;
        }
    /**********   END MAP   **********/

    /**********   FOOTER SECTION   **********/
        .footer {
            font-size: 14px;
        }
    /**********   END FOOTER SECTION   **********/
}
/**********   END SCREEN >800px   **********/

                            /**********   SCREEN >900px   **********/
@media only screen and (min-width: 900px) {
    /**********   BANNER   **********/
        .banner {
            background-size: 120%;
            background-position: 70% 70%;
        }
        h1 {
            font-size: 65px;
        }
    /**********   END BANNER   **********/

    /**********   REVIEWS   **********/
        .reviews-slider-container {
            background-position: 45% 64%;
            background-size: 300%;
        }
        .reviews-p {
            width: 80%;
            max-width: 1000px;
    }
    /**********   END REVIEWS   **********/
}
/**********   END SCREEN >900px   **********/

                            /**********   SCREEN >1000px   **********/
@media only screen and (min-width: 1000px) {
    /*****************   NAVIGATION   *****************/
        .menu {
        }
        label {
            display: none;
        }
        nav {
            width: auto;
            position: static;
        }
        nav ul {
            overflow: visible;
            display: inline-flex;
            padding: 0;
            margin: 0;
        }
        nav ul li {
            padding: 0;
        }
        nav ul li a {
            padding: 0 20px;
            font-size: 1.1em;
        }
        .hamburger {
            display: none;
        }
        .no-hamburger {
            display: inline;
        }
    /*****************   END NAVIGATION   *****************/

    /*****************   BANNER   *****************/
    h1 {
        font-size: 70px;
    }
    /*****************  END BANNER   *****************/

    /*****************   SERVICES   *****************/
        .services ul {
            width: 90%;
        }
    /*****************   END SERVICES   *****************/

    /*****************   REVIEWS   *****************/
        .reviews-p {
            width: 70%;
            max-width: 700px;
        }
        .reviews-slider-container {
            background-size: 250%;
            background-position: 45% 64%;
        }
    /*****************  END REVIEWS   *****************/

    /**********   ABOUT   **********/
        .about-container {
            display: flex;
            justify-content: center;
        }
        .about-slider-container {
            width: 90%;
        }
        .about-info p {
            line-height: 1.85em;
        }
        .about-img {
            height: 22em;
        }
    /**********   END ABOUT   **********/

    /**********   GET IN TOUCH SECTION   **********/
    .touch-container {
        display: flex;
        justify-content: center;
    }
    .touch {
        width: 85%;
    }
        .location, .hours {
            width: 33%;
        }
        .location th, .hours th {
            font-size: 1em;
        }
        .location, .hours {
            font-size: 1.2em;
        }
        .touch-button-container {
           width: 33%;
           height: auto;
           display: flex;
           flex-wrap: wrap;
           align-items: center;
        }
        .call-button-container, .email-button-container {
            width: 100%;
        }
        a.touch-button {
            height: 50px;
            width: 200px;
            font-size: 12px;
        }
        .button-info {
            font-size: 1em;
        }
        .request {
            font-size: .8em;
        }
    /**********   END GET IN TOUCH SECTION   **********/

    /**********   MAP SECTION   **********/
        .map-container {
            height: 22em;
            background-size: 130%;
            background-position: 52% 69%;
        }
    /**********   END MAP SECTION   **********/

    /**********   FOOTER SECTION   **********/
        footer {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: auto;
            background-color: #4c5053;
            padding: 1.5em 0;
        }
    /**********   END FOOTER SECTION   **********/
}
/**********   END SCREEN >1000px   **********/

                            /**********   SCREEN >1100px   **********/
@media only screen and (min-width: 1100px) {
    /**********   BANNER   **********/
        h1{
        /*width: 100%;*/
        font-size: 75px;
        /*max-width: 975px;*/
        /*margin-left: 10%;*/

    }
        .banner {
            background-size: 130%;
            background-position: 50% 65%;
            padding: 5em 0;
            /*background-size: 120%;
            background-position: 70% 83%;*/
        
        }
        a.banner-button {
            font-size: 1.7em;
        }
    /**********   END BANNER   **********/

    /*****************   REVIEWS   *****************/
        .reviews-slider-container {
            background-position: 45% 64%;
        }
    /*****************  END REVIEWS   *****************/

    /**********   ABOUT SECTION   **********/
        .about-slider-container {
            max-width: 1000px;
        }
    /**********   END ABOUT SECTION   **********/

    /**********   GET IN TOUCH SECTION   **********/
        .touch {
            max-width: 1000px;
        }
    /**********   END GET IN TOUCH SECTION   **********/

    /**********   MAP SECTION   **********/
        .map-container {
            height: 26em;
            background-size: 125%;
            background-position: 52% 66%;
        }
    /**********   END MAP SECTION   **********/
}
/**********   END SCREEN >1100px   **********/

                            /**********   SCREEN >1200px   **********/
@media only screen and (min-width: 1200px) {
    /**********   BANNER   **********/
        h1{
            /*width: 95%;*/
            font-size: 80px;
            /*margin-left: 3%;*/
        }
        .banner {
            /*background-size: 130%;
            background-position: 50% 70%;*/
            background-position: 70% 80%;
        
        }
    /**********   END BANNER   **********/

    /*****************   SERVICES   *****************/
        .services ul {
            width: 70%;
        }
    /*****************   END SERVICES   *****************/

    /*****************   REVIEWS   *****************/
        .reviews-slider-container {
            background-size: 200%;
        }
        .reviews-p {
            padding: 4em 0 5em 0;
        }
    /*****************  END REVIEWS   *****************/
}
/**********   END SCREEN >1200px   **********/

                            /**********   SCREEN >1300px   **********/
@media only screen and (min-width: 1300px) {
    /**********   BANNER   **********/
        h1{
            /*width: 95%;*/
            /*font-size: 70px;*/
        }
        .banner {
            background-size: 130%;
            background-position: 50% 70%;
            /*background-position: 70% 75%;*/
            padding: 8em 0;
        }
    /**********   END BANNER   **********/

    /**********   MAP SECTION   **********/
        .map-container {
            height: 28em;
            background-size: 120%;
            background-position: 52% 66%;
        }
    /**********   END MAP SECTION   **********/
}

                            /**********   SCREEN >1400px   **********/
@media only screen and (min-width: 1400px) {
    /**********   BANNER   **********/
        h1{
            /*width: 95%;*/
            font-size: 85px;
        }
        .banner {
            background-size: 130%;
            background-position: 50% 70%;
            /*background-position: 70% 75%;*/
            padding: 8em 0;
        }
    /**********   END BANNER   **********/
}

                            /**********   SCREEN >1500px   **********/
@media only screen and (min-width: 1500px) {
    /**********   BANNER   **********/
        h1{
            width: 100%;
            font-size: 90px;
        }
        .banner {
            background-size: 130%;
            background-position: 50% 60%;
            /*background-position: 70% 75%;*/
            padding: 10em 0;
        }
    /**********   END BANNER   **********/

    /**********   MAP SECTION   **********/
        .map-container {
            height: 34em;
            background-size: 100%;
            background-position: 52% 60%;
        }
    /**********   END MAP SECTION   **********/
}
/**********   END SCREEN >1500px   **********/

                            /**********   SCREEN >1700px   **********/
@media only screen and (min-width: 1700px) {
    /**********   BANNER   **********/
    h1{
        width: 90%;
        /*font-size: 70px;*/
    }
    .banner {
        background-size: 130%;
        background-position: 50% 60%;
        /*background-position: 70% 75%;*/
    }
    /**********   END BANNER   **********/

    /**********   MAP SECTION   **********/
    .map-container {
        height: 38em;
    }
    /**********   END MAP SECTION   **********/
}
/**********   END SCREEN >1700px   **********/

                            /**********   SCREEN >1900px   **********/
@media only screen and (min-width: 1900px) {
    /**********   BANNER   **********/
    h1{
        width: 90%;
        /*font-size: 115px;*/
    }
    .banner {
        background-size: 130%;
        background-position: 50% 60%;
        padding: 12em 0;
    }
    /**********   END BANNER   **********/
}
/**********   END SCREEN >1900px   **********/