* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}

                  /****************   280w   ******************/

/**********   HEADER // NAVIGATION   **********/
header {
    height: 6em;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.menu {
    display: flex;
    position: fixed;
    z-index: 999;
    height: 6em;
    background-color: #fff;
}
.menu-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 1em 0 1em;
}
.logo-img {
    height: 3em;
}
.menu-icon {
    font-size: 1.25em;
    color: #4c5053;
    line-height: 50px;
}
nav {
    position: absolute;
    background-color: #fff;
    top: 4.5em;
    left:0;
    width: 100%;
}
nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
nav ul li {
    padding: 0 1em;
}
nav ul li a {
    display: inline-block;
    padding: .75em;
    color: #4c5053;
    text-decoration: none;
    letter-spacing: 0.05em;
}
nav ul li a:hover, nav ul li a:focus {
    color: #5e6d74;
}
#checkbox {
    display: none;
}
#checkbox:checked ~ nav ul {
    max-height: 200px;
    padding: 15px 0;
    transition: all 0.5s;
}
/**********   HEADER // NAVIGATION   **********/




/*****************   BANNER   *****************/
.banner-container {
    width: 100%;
    height: auto;
    padding-top: 5.9em;
}
.banner {
    background-image: url('images/canoe.jpg');
    background-size: 220%;
    background-repeat: no-repeat;
    background-position: 60% 25%;
    width: 100%;
}
h1{
    font-size: 1.5em;
    text-align: left;
    color: #fff;
    padding: 2em 1em;
    line-height: 1.4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.button-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6.5em;
}
.button {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    height: 3em;
    padding: 1em;
    font-size: 1em;
    font-weight: 700;
    color: #4c5053;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    /*display: inline-block;*/
}
/*****************   BANNER   *****************/




/****************   SERVICES   ****************/
.services-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
}
.services {
    width: 80%;
}
h2 {
    width: 100%;
    padding: 2em 0 1.5em 0;
    font-weight: 700;
    font-size: 1.3em;
    color: #4c5053;
    text-align: center;
}
.services ul {
    list-style-position: inside;
    text-indent: -1.5em; 
    margin-left: 1.5em;
}
.services ul li {
    padding-bottom: 1.2em;
    line-height: 1.5em;
}
/****************   SERVICES   ****************/




/****************   REVIEWS   ****************/
.slider-container {
    width: 100%;
    background-image: url('images/sunset.jpg');
    /*background-color: cornflowerblue;*/
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: 70% 52%;
    padding: 4em 0 .75em 0;
}
#slider {
    /*margin: 0 auto;*/
    /*width: 800px;*/
    height: auto;
    /*max-width: 100%;*/
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1em;
    /*padding: 1em 0;*/
    /*background-color: darkcyan;*/
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 0 1em;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    /*line-height: 1.75em;*/
    /*height: auto;*/
    /*padding-top: 5em;*/
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
 }
 .slide {
    line-height: 1.5em;
    /*background-color: darkgoldenrod;*/
    margin-bottom: 2em;
 }
 /*#slides .slide_1 {
    background: transparent;
 }
 #slides .slide_2 {
    background: transparent;
 }
 #slides .slide_3 {
    background: transparent;
 }
 #slides .slide_4 {
    background: transparent;
 }*/
 #bullets label {
    transition: opacity 0.2s ease-out;
    display: none;
    opacity: .4;
 }
 #bullets label:hover {
    opacity: 1;
 }
 #bullets {
    /*margin: 0;*/
    text-align: center;
    /*padding-bottom: 1em;*/
    /*background-color: darkmagenta;*/
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #e8e3dc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #9e9b97;
 }
 /**************   END REVIEWS   **************/